@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Validation2.Models.StudentModel
<h2> Student Details</h2>

@using (Html.BeginForm("StudentModel","Student",FormMethod.Post))
{
    <ol>
        <li>
            @Html.LabelFor(m =>m.Name)
            @Html.TextBoxFor(m =>m.Name)
            @Html.ValidationMessageFor(m=>m.Name)
        </li>

        <li>
            @Html.LabelFor(m=>m.Age)
            @Html.TextBoxFor(m=>m.Age)
            @Html.ValidationMessageFor(m=>m.Age)
        </li>
    </ol>

    <input type="submit" value="Ok">
}
<hr />
<h3 style="color:red"> Student Details</h3>
<h3 style="color:red">
        <b> Name:</b> @ViewBag.name<br />
    <b>Age:</b> @ViewBag.age
    <br/>

</h3>